@import url("base.css");
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.banner-ul1{
	width: 100%;
	height: 100%;
	/*background: red;*/
}
.banner-ul1 li{
	width: 100%;
	height: 100%;
	/*background: yellow;*/
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 1s;
}
.banner-ul li a{
	display: block;
	width: 100%;
	height: 100%;
}
.banner-ul1 li a img{
	width: 100%;
	height: 100%;
}
.banner-daohang{
	width: 234px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #525254;
	background: rgba(15,28,59,0.6);
	padding:20px 0;
	box-sizing: border-box;
}
.banner-daohang-ul1{
	width: 100%;
	height: 100%;
}
.banner-daohang-ul1 li{
	box-sizing: border-box;
	padding: 0px 24px 0 30px;
	line-height: 42px;
	width: 100%;
	height: 42px;
	font-size: 12px;
	color: #ffffff;
}
.banner-daohang-ul1 li:hover{
	background: #ff6700;
}
.banner-daohang-text1{
	cursor: pointer;
	font-size: 12px;
	height: 100%;
	line-height: 42px;
	float: left;
}
.banner-daohang-jiaotou{
	font-size: 12px;
	height: 100%;
	float: right;
	color: #b2bec3;
	line-height: 42px;
}
.banner-jiantou1,.banner-jiantou2{
	/*display: none;*/
	opacity: 0;
	width: 41px;
	height: 69px;
	background: rgba(116,123,167,0.6);
	position: absolute;
	top: 195px;
	cursor: pointer;
}
.banner-jiantou1{
	left: 234px;
}
.banner-jiantou1:hover{
	opacity: 1;
}
.banner-jiantou2:hover{
	opacity: 1;
}
.banner-jiantou2{
	right: 0;
}
.banner-jiantou3{
	opacity: 1;
	background:rgba(0,0,0,0);
}
.banner-jiantou1 .banner-jiantou5{
	color: #bbbbbd;
}
.banner-jiantou2 .banner-jiantou5{
	color: #bbbbbd;
}
.banner-jiantou4,.banner-jiantou6{
	position: absolute;
	top: 20px;
	color: #FFFFFF;
	font-size: 30px;
}
.banner-jiantou4{
	left: 10px;
}
.banner-jiantou6{
	right: 10px;
}
.banner-yuan{
	position: absolute;
	bottom: 25px;
	right: 35px;
	height: auto;
	width: auto;
}
.banner-yuan li{
	cursor: pointer;
	width: 6px;
	height: 6px;
	background: #5d5d62;
	border-radius: 6px;
	border:2px solid #8e8e91;
	margin-left: 10px;
	float: left;
}
.banner-yuan li:hover{
	background: rgba(0,0,0,0);
}
.banner-yuan .style{
	background: rgba(0,0,0,0);
} 