@import url("base.css");
.daohang{
	position: relative;
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	/*background: red;*/
}
.daohang-logo{
	margin-top: 22.5px;
	display: block;
	float: left;
	width: 55px;
	height: 55px;
	background: tomato;
}
.daohang>ul{
	float: left;
	height: 100px;
	line-height: 100px;
	margin-left: 190px;
}
.daohang>ul li{
	float: left;
	margin-left: 22px ;
	
}
.daohang>ul li a:hover{
	color: #FF6700;
}
.daohang li:first-child{
	margin-left: 0;
}
.daohang li a{
	text-decoration: none;
	color: #333333;
	font-size: 14px;
}

.daohang .shousuo{
	position: relative;
	margin-top: 25px;
	float: right;
	width: 243px;
	height: 48px;
	box-sizing: border-box;
}
.daohang .shousuo input{
	border:1px solid #e0e0e0;
	box-sizing: border-box;
	padding:10px;
	width: 100%;
	height: 100%;
	outline:none;
	border-right-width: 0 ;
}
.search-hot-words{
	position: absolute;
    top: 14px;
    right: 10px;
    z-index: 2;
    text-align: right;
}
.search-hot-words a{
	display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    transition: all .2s;
}
.search-hot-words a:hover{
	color: #fff;
	background: #FF8D40;
}
.keyword-list{
	display: none;
	box-sizing: border-box;
	position: absolute;
    left: 0px;
    top: 48px;
    z-index: 99999999;
    width: 244px;
    border: 1px solid #ff6700;
    border-top: 0;
    background: #fff;
}
.keyword-list li:hover{
	background: #F5F5F5;
}
.result-list li a{
	position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
.result-list li span{
	position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
    font-size: 12px;
}
.daohang .shousuoimg{
	background:  url('../img/sousuo_03.png') no-repeat center center;
	margin-top: 25px;
	float: right;
	width: 50px;
	height: 46px;
	border: 1px solid #e0e0e0;
}
.daohang .shousuoimg:hover{
	background: url('../img/sousuo1.png');
	border: 1px solid #ff6700;
}
.daohang .shousuo:focus .shousuoimg{
	/*outline:none;*/
    border: 1px solid red;
}
.header-nav-menu{
	transition: all .5s;
	position: absolute;
	top: 100px;
	z-index:9999999;
	height: 0px;
	border-top: 1px solid #e0e0e0;
	background: #fff;
	box-shadow: 0 3px 4px rgba(0,0,0,0.18);
	overflow: hidden;
}
.header-nav-menu .container{
	width: 1126px;
	margin: 0 auto;
	position: relative;
}
.daohang-ul{
	margin: 0;
	padding: 0;
	font-size: 12px;
	overflow: hidden;
}
.daohang-ul li{
	position: relative;
	float: left;
	width: 180px;
	padding: 35px 12px 0;
	text-align: center;
}
.daohang-ul li:before{
	display: block;
	position: absolute;
	left: 0;
	top: 35px;
	z-index: 1;
	width: 1px;
	height: 100px;
	content: "";
	background: #E0E0E0;
}
.daohang-ul li:first-child:before{
	content: "";
	display: block;
	width: 0;
	height: 0;
}
.daohang-ul .figure{
	width: 160px;
	height: 110px;
	margin: 0 auto 16px;
	text-align: center;
}
.daohang-ul .figure a{
	display: block;
}
.daohang-ul .figure img{
	width: 160px;
	height: 110px;
}
.daohang-ul .title{
	color: #333;
	line-height: 20px;
}
.daohang-ul .title a{
	color: #333;
}
.daohang-ul .price{
	font-size: 12px;
	line-height: 20px;
	color: #ff6700;
}
.daohang-ul .flags{
	position: absolute;
    top: 0;
    height: 22px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.daohang-ul .flag{
	display: inline-block;
    height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
    font-size: 12px;
} 