@import url("base.css");
.guanyu{
	overflow: hidden;
	width: 100%;
	height: 272px;
	border-top: 60px solid #F5F5F5;
	background: #FFFFFF;
}
.guanyu1{
	width: 1226px;
	height: 100%;
	margin: 0 auto;
	/*background: red;*/
}
.guanyu-top{
	overflow: hidden;
	width: 100%;
	height: 79px;
	border-bottom: 1px solid #e0e0e0;
}
.guanyu-ul1{
	width: 100%;
	height: 22px;
	margin-top: 27px;
	/*background: red;*/
}
.guanyu-ul1 li{
	float: left;
	width: 242px;
	height: 25px;
	/*line-height: 25px;*/
	border-left: 1px solid #E0E0E0;
}
.guanyu-ul1 li:first-child{
	border-left: 1px solid #FFFFFF;
}
.guanyu-ul1 li a{
	transition: all .4s; 
	font-family: 16px;
	color: #616161;
}
.guanyu-ul1 li a i{
	vertical-align: middle;
}
.guanyu-ul1 li a:hover{
	color: #FF6B00;
}
.guanyu-a1{
	/*line-height: 22px;*/
	font-size: 24px;
	margin-right: 6px;
}
.guanyu-ul2{
	float: left;
	/*width: 56px;*/
	/*height: 111px;*/
	margin-top: 36px;
	margin-right: 105px;
}
.guanyu-ul3{
	margin-right: 0;
}
.guanyu-ul2 li {
	margin-bottom: 8px;
}
.guanyu-ul2 li a{
	color: #757575;
	font-size: 10px;	
}
.guanyu-ul2 li a:hover{
	color: #ff6b00;
}
.guanyu-ul2 li:first-child{
	color: #424242;
	font-size: 14px;
	margin-bottom: 21px;
} 
.guanyu-bottom-div{
	text-align: center;
	float: left;
	margin-top: 42px;
	margin-left: 112px;
	width: 252px;
	height: 112px;
	/*background: red;*/
	border-left: 1px solid #E0E0E0;
}
.guanyu p{
	display: block;
}
.guanyu .phone{
	margin:  0 0 5px;
	font-size: 22px;
	line-height: 1;
	color: #FF6700;
}
.guanyu .riqi{
	margin: 0 0 16px;
	font-size: 12px;
	/*text-align: center;*/
	color: #616161;
}
.guanyu .kefu{
	display: inline-block;
	border: 1px solid #FF6700;
	background: #fff;
	color: #FF6700;
	width: 118px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	transition: all .4s;
}
.guanyu .kefu:hover{
	background: #FF6700;
	color: #FFFFFF;
}
