@import url("base.css");
.shiping{
	width:1226px;
	height:326px;
	margin: 0 auto;
	margin-top: 40px;
	/*background: red;*/
}
.shiping-chakan{
	width: 91px;
	height: 20px;
	float: right;
	/*background: red;*/
	margin-top: 3px;
}
.shiping-chakan-tubiao{
	transition: all .4s;
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background: #b0b0b0;
	font-size: 10px;
	font-weight: bold;
	font-family: "宋体";
	text-align: center;
	line-height: 20px;
	color: #FFFFFF;
}
.shiping-chakan:hover .shiping-chakan-tubiao{
	background: #FF6700;
}
.shiping-chakan:hover .shiping-chakan-wenzi{
	color: #FF6700;
}
.shiping-chakan-wenzi{
	transition: all .4s;
	display: block;
	height: 100%;
	float: left;
	font-size: 16px;
	color: #333333;
	line-height: 20px;
}
.shiping-img1{
	width: 296px;
	height: 286px;
	float: left;
	background: #FFFFFF;
	margin-left: 14px;
}
.shiping-img1:hover .bofangtubiao{
	border-color:#ff8d40;
	background: #ff8d40;	
}
.shiping-img2{
	margin-left: 0px;
}
.shiping .shiping-a1{
	display: block;
	width: 100%;
	height: 180px;
	position: relative;
	/*background: yellow;*/
}
.shiping-a2{
	display: block;
	text-align: center;
	padding-top: 28px;
	font-size: 12px;
	color: #333333;
}
.shiping-img1 a:nth-child(3){
	font-size: 10px;
	padding-top: 14px;
	color: #B0B0B0;
}
.shiping .bofangtubiao{
	box-sizing: border-box;
	position: absolute;
	width: 36px;
	height: 24px;
	border: 2px solid #FFFFFF;
	border-radius: 11px;
	bottom: 10px;
	left: 20px;
}
.shiping .sanjiaoxing{
	border-radius: 3px;
	position: absolute;
	top:5px;
	left: 12px;
	border-left: 10px solid #ffffff;
	border-top:  5px solid transparent;
	border-bottom:  5px solid transparent;
}
