@import url("base.css");
.tupian{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;
	/*background: red;*/
}
.tupian-ul1{
	width: 100%;
	height: 100%;
}
.tupian-ul1 li{
	position: relative;
	/*background: yellow;*/
	float: left;
	height: 100%;
	width: 316px;
	margin-left: 15px;
}
.tupian-ul1 li:first-child{
	background: #5f5750;
	width: 234px;
	margin-left: 0;
}
.tupian-ul1 li:nth-child(2){
	margin-left: 14px;
}
.tupian-ul1 img{
	width: 100%;
	height: 100%;
}
.tupian-ul2{
	width: 100%;
	height: 100%;
}
.tupian-ul2 a{
	width: 76px;
	height: 85px;
	/*background: red;*/
	float: left;
}
.tupian-ul2 a:first-child,.tupian-ul2 a:nth-child(4){
	margin-left: 4px;
}
.tupian-ul2 a:nth-child(3),.tupian-ul2 a:nth-child(6){
	margin-right: 2px;
}
.tupian a div{
	margin: 0 auto;
	/*color: #b9cac8;*/
	color: rgba(255,255,255,0.7);
	font-size: 24px;
	text-align: center;
}
.tupian .div2{
	margin-top: 8px;
	font-size: 12px;
}
.tupian-ul2 .div1{
	margin: 0 auto;
	margin-top:21px;
} 
.tupian span{
	position: absolute;
	background: #665e57;
} 
.tupian .shuxian{
	height: 70px;
	width: 1px;
	top: 9px;
	left: 79px;
} 
.tupian .shuxian2{
	left: 154px;
}
.tupian .shuxian3{
	top: 91px;
}
.tupian .shuxian4{
	top: 91px;
	left: 154px;
}
.tupian .henxian{
	height: 1px;
	width: 64px;
	top: 84px;
	left: 9px;
}
.tupian .henxian2{
	left: 85px;
}
.tupian .henxian3{
	left: 161px;
}